/src/main/jniLibs
/build/intermediates
/build/kotlin
/build/kotlinTooling
/build/outputs/apk/debug
/build/kotlinToolingMetadata
/build/outputs/apk/release/baselineProfiles
/build/outputs/logs
/build/tmp
/build/outputs/apk/release/output-metadata.json